.recipe-card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 900px;
}
.recipe-card:hover {
  cursor: pointer;
  box-shadow: 0 -1px 10px rgba(37, 37, 37, 0.25);
}
.recipe-img{
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.summary-box {
  max-width: 100%;
}
.summary-box summary {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

